# Virtual Environment
.venv/
venv/
ENV/

# Python (Cache and Execution)
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/

# Security and Credentials
.env
.env.*

# Local Database / Temporary Files
*.db
*.sqlite3